--KwsrRecognizer::debug_mode=false
--KwsrRecognizer::dump_feat_mode=false
--KwsrRecognizer::log_file=kws.log
--KwsrRecognizer::reset_frames=6000
--KwsrRecognizer::am_score_file=

--KwsrRecognizer::lexicon_file=kwsr.lex
--KwsrRecognizer::phone_table_file=kwsr.phn
--KwsrRecognizer::fillers_file=kwsr.gbg
--KwsrRecognizer::build_graph_acoustic_scale=0.1

#--KwsrRecognizer::fillers_cdphone_ext=SILCONTEXT_HYP_EXT
#--KwsrRecognizer::keyword_cdphone_ext_opt=APPROX_CDPHONE_EXT

--KwsrRecognizer::am_file=kwsr
--KwsrRecognizer::am_nn_file=kwsr
--KwsrRecognizer::am_nn_format=kaldi_nnet1
--KwsrRecognizer::am_nn_quant=16bit
--KwsrRecognizer::input_batch_size=4
--KwsrRecognizer::output_batch_size=4
--KwsrRecognizer::lazy_evaluation=false

--KwsrRecognizer::global_beam=5
--KwsrRecognizer::gbg_beam=0.5
--KwsrRecognizer::acoustic_scale=0.1
--KwsrRecognizer::hash_table_size=1024
--KwsrRecognizer::hash_ratio=2.0
--KwsrRecognizer::token_pool_realloc=1024

--KwsrRecognizer::kws_mode=true
--KwsrRecognizer::prefix_kws=true
--KwsrRecognizer::num_history_frames=0
--KwsrRecognizer::am_phones_exc=W_*:rr*:lv*

--KwsrRecognizer::use_cc=true
--KwsrRecognizer::cc_model=scp:kwsr.ccl
--KwsrRecognizer::cc_nn_quant=32bit

# features
--Decimate::begin-frame=0
--output-type=FE_LOGFB+P+Dec3
--input-type=FE_16K_16BIT_PCM
--Waveform2Filterbank::dither=1
--Waveform2Filterbank::fast-dither=true
--Waveform2Filterbank::htk-compat=false
--Waveform2Filterbank::window-type=hamming
--Waveform2Filterbank::num-mel-bins=40
--ContextExpansion::minus=4
--ContextExpansion::plus=4
